# dependencies
node_modules

# environment variables
.env
.env.local
.env.production
.env.development

# build output
dist

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# editor files
.vscode/
.idea/